.esconder{
    display:none;
}

.centraliza-site{
    margin: 0 auto;
    width: 1080px;
}

nav{
    background-color: rgb(116, 116, 116);
    font-weight: bold;
    font-size: 21px;
}

nav img{
    margin-left: 100px;
    height: 50px;
    width: 150px;
}

#navbarDropdownMenuLink{
    color: black;
}

/*Destacar UC atual*/

.uc-atual{
    border: solid 5px red;
    border-radius: 10px;

}

/*-Avisos complementares-*/

#complementares h1{
    text-align: center;
    padding: 30px 0;
}

#complementares hr{
    height: 5px;
    border-color: black;
}

#complementares h2{
    color: crimson;
}

#complementares p{
    padding-left: 100px;
    font-size: 21px;
}

#avisos{
    margin: 100px auto;
    border: solid 5px black;
    width: 80%;
    padding: 50px;
}

/*Cards das UC's*/
.container{ 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: left;
}

.container a{
    text-decoration: none;
    color: black;
}

.container a > div{
    margin: 10px;
}

.space-titulos{
    margin-left: 100px;
}

h5{
    font-size: 17px;
}

