*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/*Cabeçalho*/
/*Envolve o banner */

header{
    text-align: center;
    background: #aaa;
    height: 100%;
    margin-bottom: 0px;
}

/*Container principal da página*/
main {
    width: 100% ;
}

main h1{
    text-align: center;
    padding: 50px 0;
}

.descricao,.uc8,.uc9{
    margin: 0 auto;
    width: 1280px;
}

/*Seção de descrição e texto descritivo da oficina.*/
.descricao{
    font-size: 21px;
}

.descricao div{
    padding: 50px 0;
    margin-left: 50px;
    font-weight: 400;
}

.descricao li{
    color: #032b3c;
    font-weight: bold;
}

.descricao strong{
    color: #ff2356;
    font-weight: bold;
}

/*LIsta dos botões*/

.uc8,.uc9{
    padding: 0px 50px;
}

.uc9{
    padding-bottom: 50px;
}


.gravacao {color: silver;}
.corpoDica {background-color: aliceblue;}
.tituloSA {font-weight: bold;}
#bannerUC{width:auto;}


/*Rodapé*/



footer{
    text-align: center;
    background: rgba(167, 167, 167, 0.8);
    height: 100%;
    margin-bottom: 0px;
    padding: 20px 0;
}

footer p{
    margin: 0px;
    font-weight: bold;
    margin-bottom: 10px;
}

footer img{
    width: 80px;
    height: 30px;
}